<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pimgento">
            <group id="category" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Categories</label>
                <field id="update_url_key" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update URL key</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Update URL key with category name for each import</comment>
                </field>
            </group>
        </section>
    </system>
</config>
